:root {
--background: #000000;
--text-1: #FFFFFF;
--rose1: #E99DE3;
--rose2: #E34BFF;
--rose3: #EC32FD;
--rose4: #B624C1;
--rose5: #EF40FF;
--purple1: #D875FF;
--purple2: #AF5EEE;
--purple3: #9D5DB8;
--purple4: #B141E0;
--purple5: #8D4BE0;
--purple6: #6D33B7;
--purple-gray1: #C6B0CF;
--gray1: #F5F5F5;
--blue1: #8EA8FF;
--blue2: #567CFF;
--blue3: #0FF0FC;
--blue4: #1562C1;
--blue5: #7AF8FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background: #000000;
    color: #FFFFFF;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10% 2rem; /* aca aplique un 2rem al padding-top, 10% al padding-right y 2rem al padding-bottom. */
    background: #000000;
    backdrop-filter: blur(20px);
    justify-content: flex-end; /* alinear mi header items a la derecha, al final */
    align-items: center;
    display: flex; /* este me ha servido para que los header titles se alineen a la derecha */
}

.nav-bar a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    margin-left: 2rem;
    font-weight: 200px;
    transition: 035 ease;
    border-bottom: 3px solid transparent;
}

.nav-bar a:hover,
.nav-bar a:active {
    color: var(--text-1);
    border-bottom: 3px solid var(--purple6);
    background-image: linear-gradient(to bottom, #6D33B7, #8D4BE0, #AF5EEE, #EC32FD); /* aca utilize background-image en lugar de background-color porque esta ultima no me dejaba y solo aparecia en negro*/
    padding: 10px 20px;
    border-radius: 5px;
}

.section-about {
    margin-top: 100px;
}
