:root {
--background: #000000;
--text-1: #FFFFFF;
--rose1: #E99DE3;
--rose2: #E34BFF;
--rose3: #EC32FD;
--rose4: #B624C1;
--rose5: #EF40FF;
--purple1: #D875FF;
--purple2: #AF5EEE;
--purple3: #9D5DB8;
--purple4: #B141E0;
--purple5: #8D4BE0;
--purple6: #6D33B7;
--purple-gray1: #C6B0CF;
--gray1: #F5F5F5;
--blue1: #8EA8FF;
--blue2: #567CFF;
--blue3: #0FF0FC;
--blue4: #1562C1;
--blue5: #7AF8FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background: #000000;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10% 2rem; /* aca aplique un 2rem al padding-top, 10% al padding-right y 2rem al padding-bottom. */
    background: #000000;
    backdrop-filter: blur(20px);
    justify-content: flex-end; /* alinear mi header items a la derecha, al final */
    align-items: center;
    display: flex; /* este me ha servido para que los header titles se alineen a la derecha */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hide-on-large {
    display: none;
}

.nav-bar a {
    font-size: 15px;
    margin-left: 2rem;
    font-weight: 200px;
    transition: 035 ease;
    border-bottom: 3px solid transparent;
}

.nav-bar a:hover, 
.nav-bar a:active {
    color: var(--text-1);
    border-bottom: 2px solid var(--rose4);
    background-image: linear-gradient(to bottom, #6D33B7, #8D4BE0, #AF5EEE, #EC32FD); /* aca utilize background-image en lugar de background-color porque esta ultima no me dejaba y solo aparecia en negro*/
    padding: 10px 20px;
    border-radius: 5px;
}

.about-section {
    /* margin-top: 100px; */
    background-image: linear-gradient(to bottom, rgba(109, 51, 183, 0.7), rgba(141, 75, 224, 0.7), rgba(175, 94, 238, 0.7), rgba(236, 50, 253, 0.7));
    padding: 35px 40px;
    margin-top: 7rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
}

.about-container {
    flex-direction: column;
}

.about-wrapper {
    margin-bottom: 1rem;
}

.my-projects-button a {
    color: var(--background);
    border-bottom: 2px solid var(--purple4);
    background-color: var(--gray1);
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
}

.my-projects-button {
    margin-bottom: 1rem;
}

.my-projects-button a:hover {
    color: var(--blue2);
    box-shadow: 0 0 20px;
}


section {
    min-height: 25vh;
    /* padding: 2rem 10% 2rem; */
}

h2 {
    margin-bottom: 2rem;
    font-size: 45px;
}

.about-content {
    display: flex;
    flex-wrap: wrap; /* validar, no estoy segura si dejarle wrap o cambiarlo */
    justify-content: center;
    align-items: center;
    text-align: left;
}

.about-img img {
    position: relative;
    border-radius: 65%;
    width: 20vw; /* esta es la unica medida que logre para que la imagen no fuera tan grande porque en rem y % no me funciono */
    cursor: pointer;
    /* transition: 035 ease; */
}

.about-img img:hover {
    box-shadow: 0 0 25px var(--blue2);
}

.about-info {
    font-size: 20px;
    color: var(--rose1);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* #intro-about-info {
    font-size: 25px;
} */

.about-info h1 {
    font-size: 65px;
    color: var(--gray1);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    /* line-height: 1; */
}

.about-social-icons {
    display: inline-flex;
    transition: 0.3s ease-in-out;
/*     margin-right: 10px;
    margin-left: 10px; */
}

.about-social-icons:hover {
    color: var(--blue2);
    box-shadow: 0 0 20px;
}

.knowledge-section, .my-projects-section {
    display: flex;
    margin: 4rem;
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.knowledge-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

/* .knowledge-summary h2 {
    margin-bottom: 2rem;
    font-size: 40px;
} */

.column {
    width: 100%;
    max-width: 1100px;
}

.knowledge-summary p {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 18px;
}

.knowledge-wrapper {
    display: flex;
    justify-content: center;
    
}

.knowledge-skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
}

.knowledge-skills-box {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    width: 260px;
    border-radius: 15px;
    cursor: pointer;
}

.knowledge-skills-box:hover {
    box-shadow: 0 0 40px var(--blue1);
}

.knowledge-tech-skill {
    margin-top: 1rem;
}


.quote-section {
    background-image: linear-gradient(to bottom, rgba(109, 51, 183, 0.4), rgba(141, 75, 224, 0.4), rgba(175, 94, 238, 0.4), rgba(236, 50, 253, 0.4));
    width: 100%;
}

.quote-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 2rem 2rem 2rem 2rem;
}

.quote-column > * { /* esto me sirvio para agregar el estilo a todos los hijos/children */
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 1100px;
    font-size: 18px;
    text-align: center;
}

#author {
    font-size: 23px;
    font-weight: bold;
}

.my-projects-summary {
    margin: 8rem 4rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
}

.my-projects-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-evenly;
    justify-content: center;
}

.project { /* aca di copy-paste al estilo utilizado arriba en .knowledge-skills-box */
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    width: 260px;
    border-radius: 15px;
    cursor: pointer;
}

.project p {
    margin-bottom: 1rem;
}

.project:hover {
    box-shadow: 0 0 40px var(--purple6);
}

/* .project-image {
    margin: 2rem;
    padding: 2rem;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background-color: #9D5DB8;
}
 */

.project-portfolio {
    margin: 2rem;
    padding: 2rem;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background-color: var(--rose1);
    transition: 035 ease;
}

.project-meme-gen {
    margin: 2rem;
    padding: 2rem;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background-color: var(--purple1);
}

.project-match-three {
    margin: 2rem;
    padding: 2rem;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background-color: var(--rose3);
}

.project-expense-contr {
    margin: 2rem;
    padding: 2rem;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background-color: var(--purple2);
}

.project-meeting-admin {
    margin: 2rem;
    padding: 2rem;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background-color: var(--purple5);
}


.project-todo-app {
    margin: 2rem;
    padding: 2rem;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background-color: var(--purple4);
}

.project-movie-search {
    margin: 2rem;
    padding: 2rem;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background-color: var(--purple3);
}

.contact-me-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem;
    border-radius: 15px;
    margin: 2rem;
    flex: 1;
    background-image: linear-gradient(to bottom, rgba(109, 51, 183, 1), rgba(141, 75, 224, 1), rgba(175, 94, 238, 1), rgba(236, 50, 253, 1));
}

.contact-me-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 4rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.contact-me-column {
    padding: 4rem;
}

.contact-me-form {
    width: 50%;
    padding-right: 4rem;
}

.contact-me-form p {
    text-align: justify;
    margin-bottom: 3rem;
}

.contact-me-socials {
    display: flex;
    flex-direction: column;
}

.contact-me-socials a {
    margin: 0.5rem 0.2rem 0.5rem 0;
    display: inline-flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    font-size: 1.2rem;
}

.contact-me-socials a:hover {
    color: var(--rose5);
    fill: var(--rose5);
    text-shadow: 0 0 25px var(--text-1);
    filter: drop-shadow(0 0 25px var(--text-1));
}

.contact-me-socials svg {
    margin-right: 1.5rem;
    max-width: 46px;
    max-height: 46px;
}

.text-me-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 50%;
    padding-left: 4rem;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 12px;
}

.text-me-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.text-me-name-last {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: stretch;
}

.text-me-name-last input {
    flex: 1;
    margin: 0 2rem 1rem 0;
    padding: 1rem 0 1rem 1rem;
    border-radius: 25px;
}

.text-me-email {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: stretch;
}

.text-me-email input {
    flex: 1;
    margin: 0 2rem 1rem 0;
    padding: 1rem 0 1rem 1rem;
    border-radius: 25px;
}

.text-me-message {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: stretch;
}

#message-text-area {
    flex: 1;
    margin: 0 2rem 1rem 0;
    padding: 1rem 0 1rem 1rem;
    border-radius: 25px;
}

#email-link::after {
    content: "";
}

/* Media Query para moviles */
@media (min-width: 320px) and (max-width: 767px) {
    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 2rem 0.5rem 2rem 0.5rem;
    }
    
    h2 {
        margin-bottom: 2rem;
        font-size: 24px;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }
    
    .hide-on-large {
        display: block;
    }

    .hide-on-small {
        display: none;
    }

    /* .mobile-menu {
        display: none;
    } */

    .mobile-menu {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    .mobile-menu a {
        display: block;
        padding: 1rem 4rem;
        border-radius: 5px;
    }

    .mobile-menu a:active {
        background-color: var(--purple1);
    }

    .about-section {
        display: flex;
        flex-direction: column-reverse;
        flex: 1;
        min-width: 100%;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        margin: 8rem 0 2rem 0;
    }

    .about-content {
        display: flex;
        flex: 1;
    }

    .about-container {}

    .knowledge-section {
        margin: 0;
    }

    .knowledge-summary {
        margin: 0;
    }

    .my-projects-section {
        margin: 2rem 0;
    }

    .my-projects-summary {
        margin: 0;
    }

    .contact-me-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem; /* Ajustar el padding para m칩viles */
        margin: 0; /* Eliminar el margin para evitar desbordamiento */
    }

    .contact-me-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem; /* Ajustar el padding para m칩viles */
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    .contact-me-form, .text-me-form {
        width: 100%;
        padding: 2rem; /* Ajustar el padding para m칩viles */
    }

    .contact-me-socials a {
        width: auto; /* Ajustar el ancho de los enlaces */
        font-size: 1rem; /* Ajustar el tama침o de fuente */
    }

    .contact-me-socials svg {
        margin-right: 1.5rem;
        max-width: 24px;
        max-height: 24px;
    }
}


/* Media Query para tablets */
@media (min-width:768px) and (max-width:1024px) {

    * {
        margin: 0;
        padding: 0;
    }
    body {
        width: 100%;
    }

    .hide-on-small {
        display: flex;
    }

    .menu-icon {
        display: none;
    }

    .about-section {
        width: 100%;
    }

    .about-content {
        display: flex;
        flex-direction: row;
    }
    
}

